ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    width: 150px;
}

ul li {
    position:relative;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: red;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;    
}

ul li a:hover{
    text-decoration: underline;
    background-color: #ccc;
    font-weight: bold;
}

li:hover ul {
    display:block;
}